/* Estilos para el currículum vitae */
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    
}
a{
    text-decoration: none;
 }

.bg-custom-one{
   background-color: #aaccfa;
}

.container-fluid a{
    color: 	#000000;
}

.navbar.fixed-top {
    position: fixed;
}

.imagen-container { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;/
}

.imagen-circular {
    border-radius: 50%; /* Aplica un redondeo del 50% para hacerla circular */
    width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del cuadro */
    border: 5px solid #333;
}

.imagen-circular img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
}

.presentacion{
    padding: 20px 100px 20px 100px;
    text-align: justify;
    color: gray;
}


/* Experiencia laboral*/

.bg-custom-two{
    background-color: #aaccfa;
 }

 .sin-borde {
    border: none;
}

.linea-lateral {
    margin: 10px 0px 10px 0px ;
    border-left: 15px solid #aaccfa; /* Ancho y color de la línea */
    padding-left: 10px; /* Espacio entre la línea y el texto */
}

.seccion-con-sombra {
    /*background-color: #ffffff; /* Color de fondo */
    /* padding: 0px; /* Espaciado interior para el contenido */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Propiedad de sombra */
    /*margin: 0px; /* Margen exterior para separación */
}

.oculto {
    display: none;
}




