/* Estilos para el currículum vitae */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #337ab7;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

ul {
    list-style-type: disc;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}
