/* Estilos para el currículum vitae */
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #002c2b;
    margin: 10px;
    padding: 20px;
    
}

.bg-custom-one{
   background-color: #0a837f;
}

.container-fluid a{
    color: white;
}

.imagen-container { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;/
}

.imagen-circular {
    border-radius: 50%; /* Aplica un redondeo del 50% para hacerla circular */
    width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del cuadro */
    border: 5px solid #333;
}

.imagen-circular img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
}

.presentacion{
    padding: 20px 100px 20px 100px;
    text-align: justify;
    color: gray;
}


/* Experiencia laboral*/








